*{
  box-sizing: border-box;
  }

body{
  background-color:  rgb(208, 224, 227);
  margin-top: 50px;
  }

h1{
  font-family:  "Gill Sans", sans-serif;
  font-size: 100px;
  text-align: center;
  margin-bottom: 0px;
  }

h2{
  font-family:  "Courier New", monospace;
  text-align: center;
  }

h3{
  font-family:  "Courier New", monospace;
  font-size: 45;
  text-align: center;
  }

h4{
  font-family:  "Courier New", monospace;
  font-size: 25px;
  text-align: center;
  }

p{
  font-family:  "Courier New", monospace;
  text-align: center;
  }


#header{
  margin-bottom: 5px;
  }

/* -------------------- NAVIGATION BAR -------------------- */
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  background-color: none;
}


li{
  display: inline;
  font-family:  "Courier New", monospace;
  font-size: 20px;
}

li a{
  display: inline-block;
  color: black;
  text-align: center;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  text-decoration: none;
}

li a:hover{
  background-color: white;
}    

li a:visited{
  color: black;
}

/* ------------------------------------------------------- */

#about{
  width: 400px;
  margin: auto;
  width: 75%;
  padding: 10px;
}

#footer{
  margin-top: 50px;
  }